page-customers {
.customer-lists {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.action-icon {
		font-size: 14px;
		padding: 2px;
		cursor: pointer;
	}
  }
  ion-searchbar {
    background: #dfdfdf !important;
  }
  .table {
  	thead,
  	tbody {
  		tr {
  			th,td {
  				padding: 5px;
  			}
  		}
  	}
  }
}

.customer-search-wrapper {
	padding: 15px;
	background: #ebebeb;
	.item-inner {
		background: white;
		border: 1px solid #c5bfbf;
		padding-right: 0px !important;
		.item-button {
			padding: 0 1.8em;
			height: 4.5rem;
			margin: 0;
			border-radius: 0px; 
		}
	}
}
