<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gazinetworks: Customers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-searchbar (ionInput)="searchCustomer($event)"></ion-searchbar>
    <div *ngIf='error' class='alert alert-danger'> {{error}}</div>
  	<ion-list>
	  <div class='customer-lists'>
	    <table class='table'>
	    	<thead>
	    		<tr>
	    			<th>Name</th>
	    			<th>Address</th>
	    			<th>Phone</th>
	    			<th>TV</th>
	    			<th>Due</th>
	    			<th></th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr *ngFor="let customer of customers">
	    			<td>{{customer.name}}</td>
	    			<td>{{customer.address}}</td>
	    			<td>{{customer.mobile}}</td>
	    			<td>{{customer.tv}}</td>
	    			<td>{{customer.due}}</td>
	    			<td>
	    				<button ion-button outline small (click)=getcustomer(customer.id)> Details </button>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
	  </div>
	</ion-list>
</ion-content>
