<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
     Gazinetworks: Expense
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<div class='contact-form-wrapper'>
    <h4 class='signin-text'> Expense Form </h4>
    <div class='devider'></div>
    <form #complainForm="ngForm" (ngSubmit)="expense_submit()" autocomplete="off">
	    <ion-row>
	      <ion-col>
	        <ion-list>
	          <div class='input-field'>
	          	<label> Title </label>
	            <ion-input placeholder="Title" name="title" id="subjectField"
	                       type="text" required [(ngModel)]="expense_form.title" #title></ion-input>
	          </div>
	          
	          <div class='input-field'>
	          	<label> Category </label>
	            <ion-select name="category" placeholder="Select a category..." id="categoryField" required [(ngModel)]="expense_form.category">
	            	<ion-option *ngFor="let catg of expense_category" value="{{catg.name}}"> 
	            		{{catg.name}}
	            	</ion-option>
	            </ion-select>
	          </div>

	          <div class='input-field datepicker'>
	          	<label> Date </label>
	            <span ion-datepicker (ionChanged)="setDate($event);" [value]="localDate" [min]="localDate" full="true" calendar="true" clear class="ScheduleDate">
                  <ion-input placeholder="Date" name="date" id="dateField"
	                       type="text" required disabled [(ngModel)]="expense_form.date"></ion-input>
                </span>
	          </div>

	          <div class='input-field'>
	          	<label> Voucher </label>
	            <ion-input placeholder="Voucher No" name="voucher_no" id="voucherField"
	                       type="text" [(ngModel)]="expense_form.voucher_no"></ion-input>
	          </div>

	          <div class='input-field'>
	          	<label> Amount </label>
	            <ion-input placeholder="Amount" name="amount" id="amountField"
	                       type="number" required [(ngModel)]="expense_form.amount"></ion-input>
	          </div>

	          <div class='input-field'>
	          	<label> Description </label>
				<ion-textarea [(ngModel)]="expense_form.description" name="message" placeholder="Expense Description..."></ion-textarea>
	          </div>
	        </ion-list>
	      </ion-col>
	    </ion-row>
	    <ion-row>
	      <ion-col>
	        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
	        <div *ngIf="success" class="alert alert-success">{{success}}</div>
	        <button ion-button class="submit-btn" full type="submit"
	                [disabled]="!complainForm.form.valid">Submit Expense
	        </button>
	      </ion-col>
	    </ion-row>
    </form>
  </div>
</ion-content>
