<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
     Payments History
    </ion-title>
  </ion-navbar>
</ion-header>
<div class='alert alert-danger' *ngIf="error">{{error}}</div>
<ion-content class='payment-history-wrapper'>
  <h4 class='text-center'>
    Payment History of last 5 month
  </h4>
  <table class='table'>
      <thead>
        <tr>
          <th *ngIf="is_customer">Customer ID</th>
          <th *ngIf="is_customer">Name</th>
          <th>Date</th>
          <th>Bill Period</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments">
          <td *ngIf="is_customer">{{payment.customer_id}}</td>
          <td *ngIf="is_customer">{{payment.name}}</td>
          <td>{{payment.date}}</td>
          <td>{{payment.month}}</td>
          <td>{{payment.amount}}</td>
        </tr>
      </tbody>
  </table>
  <!-- <ionc-pagination
  color="light"
  (clickBeginning)="changePage(1)"
  (clickPrevious)="changePage(paginationInfo.page - 1)"
  (clickNext)="changePage(paginationInfo.page + 1)"
  (clickEnd)="changePage(paginationInfo.pageCount)"
  [pagination]="paginationInfo"></ionc-pagination> -->
</ion-content>
