page-other-income {
    ion-row {
        border-bottom: 1px solid #007fba;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .payment-wrapper {
          padding-top: 30px;
      }
}
