<ion-header>

  <ion-navbar>
    <ion-title> Customer Billing </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class='user-profile-container'>
  <ion-row class='user-profile-icon'>
    <img src='assets/imgs/login_user.png'/>
  </ion-row>
  <h4 class='user-name'> {{invoice.name}} </h4>
  <div class='devider'></div>
  <div class="invoice-details">
  	<ul>
  		<li>
  			<ion-icon class='icon-set' ios="ios-locate-outline" md="md-locate"></ion-icon> 
        <div class='title'>Address</div>
        {{invoice.address}}
  		</li>
  		<li>
  			<ion-icon class='icon-set' ios="ios-call-outline" md="md-call"></ion-icon> 
         <div class='title'>Mobile</div>
         {{invoice.mobile}}
  		</li>
  	</ul>
    <div class='devider'></div>
    <ul>
    	<li>
  			<ion-icon class='icon-set' ios="ios-calendar-outline" md="md-calendar"></ion-icon> 
            <div class='title'>Billing Month</div>
            {{invoice.month}}
  		</li>
      <li>
        <ion-icon class='icon-set' ios="ios-cash-outline" md="md-cash"></ion-icon> 
        <div class='title'>Bill Amount</div>
        {{invoice.amount}} Tk
      </li>
      <li>
        <ion-icon class='icon-set' ios="ios-cash-outline" md="md-cash"></ion-icon> 
        <div class='title'>Paid Amount</div>
        {{invoice.paid}} Tk
      </li>
      <li class='devider'></li>
      <li class='payment-wrapper'>
        <div class='alert alert-success' *ngIf="bill_paid">
        	Bill Paid Successfully
        </div>
        <form #loginForm="ngForm" (ngSubmit)="makePayment(invoice.invoice_id)" autocomplete="off">
          <ion-row>
            <ion-col>
                <div class='input-field'>
                  <input placeholder="Payment amount" name="payment" id="paymentField" class='common-input'
                             type="number" required [(ngModel)]="payment.amount" #paymentField [disabled]="payment.full_paid">
                </div>
                <div class='fullpaid-field'>
                  <input type='checkbox' id='fullpaid' name='fullpaid' value='true' (change)='markFullPaid($event)' 
                  [(ngModel)]="payment.full_paid">
                  <label for='fullpaid'> Full Paid </label>
                </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              <button ion-button class="submit-btn" full type="submit"
                      [disabled]="!loginForm.form.valid && !bill_paid">Bill Collected
              </button>
            </ion-col>
          </ion-row>
        </form>
      </li>
    </ul>
  </div>
</ion-content>
