<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Other Income Payments
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='payment-history-wrapper'>

  <div class='alert alert-danger' *ngIf="error">{{error}}</div>

  <ion-list>
    <div class='payment-lists'>
      <table class='table'>
        <thead>
          <tr>
            <th>ID</th>
            <th>Invoice Amount</th>
            <th>Paid Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of payments">
            <td>{{payment.id}}</td>
            <td>{{payment.invoice_amount}}</td>
            <td>{{payment.amount}}</td>
            <td>{{payment.date}}</td>
          </tr>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </tbody>
      </table>
    </div>
  </ion-list>
</ion-content>