.year-navigator {
	padding: 20px 25px;
	width: 100%;
	background: #1abc9c;
	text-align: center;

	ul {
		margin: 0;
		padding: 0;

		li {
			color: white;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 3px
		}

	}

	.prev {
		float: left;
		cursor: pointer;
	}

	.next {
		float: right;
		cursor: pointer;
	}

}

ul {
	list-style-type: none
}

body {
	font-family: Verdana, sans-serif
}

.calendar-body {
	.months {
		padding: 1px 0;
		background: #eee;
		margin: 0;

		li {
			list-style-type: none;
			float: left;
			width: 33.30%;
			text-align: center;
			border-bottom: solid 1px #cccccc;
			border-right: solid 1px #cccccc;
			font-size: 13px;
			color: #333333;
			padding: 20px 0;
			min-height: 60px;

			&.active {
				background: #1abc9c;
				color: white !important
			}

			.marked {
				color: #ffffff;
				background: #1abc9c;
				display: inline-block;
				padding: 1px 3px;
				border-radius: 100%;
			}

		}

	}

}

.hints {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #555555;
    font-weight: bold;
    background-color: #ddd;
}

.clearfix {
	&::after {
		display: block;
		content: "";
		clear: both;
	}

}

.agent-collection {
	.title {
		padding: 20px 25px;
	    width: 100%;
	    background: #1abc9c;
	    text-align: center;
	    color: #ffffff;
	    font-size: 20px;
	}

	.body {
        padding: 20px;
		background: #eee;
		margin: 0;
	}

	.search-result {
		border-bottom: solid 1px #cccccc;
	}
}