<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon ios="ios-person" md="md-person"></ion-icon> 
      {{customer.name}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class='user-profile-container'>
  <ion-row class='user-profile-icon'>
    <img src='assets/imgs/login_user.png'/>
  </ion-row>
  <div class='devider'></div>
  <div *ngIf='error' class='alert alert-danger'>{{error}}</div>
  <div class="profile-details">
  	<ul>
  		<li>
  			<ion-icon class='icon-set' ios="ios-locate-outline" md="md-locate"></ion-icon> 
        <div class='title'>Address</div>
        {{customer.address}}
  		</li>
  		<li>
  			<ion-icon class='icon-set' ios="ios-call-outline" md="md-call"></ion-icon> 
         <div class='title'>Mobile</div>
         {{customer.mobile}}
  		</li>
  		<li>
  			<ion-icon class='icon-set' ios="ios-calendar-outline" md="md-calendar"></ion-icon> 
        <div class='title'>Connection Date</div>
        12/10/2016
  		</li>
  	</ul>
    <div class='devider'></div>
    <ul>
      <li>
        <ion-icon class='icon-set' ios="ios-cash-outline" md="md-cash"></ion-icon> 
        <div class='title'>Line Charge</div>
        {{customer.line_charge}} Tk
      </li>
      <li>
        <ion-icon class='icon-set' ios="ios-desktop-outline" md="md-desktop"></ion-icon>
        <div class='title'>Number Of TV</div>
        {{customer.tv}}
      </li>
      <li>
        <ion-icon class='icon-set' ios="ios-stats-outline" md="md-stats"></ion-icon> 
        <div class='title'>Last Month Bill Status</div>
        <span style='color: blue' *ngIf="customer.last_bill"> Paid </span>
        <span style='color: red' *ngIf="!customer.last_bill"> Not Paid </span>
      </li>
    </ul>
    <div class='devider'></div>
    <h4> Customer Billing History </h4>
    <table class='table'>
      <thead>
        <tr>
          <th>Month</th>
          <th>Amount</th>
          <th>Paid</th>
          <th>Due</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      	<tr *ngFor="let invoice of customer.invoices">
          <td>{{invoice.month}}</td>
          <td>{{invoice.amount}}</td>
          <td>{{invoice.paid}}</td>
          <td>{{invoice.amount - invoice.paid}}</td>
          <td>
            <ion-badge *ngIf="invoice.status" item-end>Full Paid</ion-badge>
            <button *ngIf="!invoice.status" ion-button outline small (click)=collectPayment(invoice.id)> Collect Bill  </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
